
path_and_perso_data.json
mailing_auteur/Hal Uvsq Imports - octobre.csv
mailing_auteur/stats_envoi.csv
mailing_auteur/Hal Uvsq Imports - novembre.csv
hal_depot_auto/out/2-s2.0-85090965181.xml
hal_depot_auto/out/2-s2.0-85091002671.xml
hal_depot_auto/source/scopus.csv
hal_depot_auto/source/test.csv
